body {
  font-family: "Fira Code";
}
.nav-cont {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: start;
  padding-left: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.view-cont {
  height: 600px;
  width: 400px;
  overflow-x: scroll hidden;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background-color: rgba(128,128,128,.2);
  border-radius: 10px 10% 10px 10%;
  margin-bottom: 20px;
}

.infield {
  height: 30px;
  width: 300px;
  border-radius: 10px !important;
}

.message {
  background-color: blueviolet;
}